@import-normalize;

.app {
  position: relative;
  max-height: 100vh;
  background-color: #33c9fd;
}

.aboutButton {
  position: absolute;
  top: 20px;
  left: 20px;
}

.myListButton {
  position: absolute;
  right: 20px;
  bottom: 140px;
}

.marquee {
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
  max-width: calc(100vw - 40px);
}

.text {
  padding-top: 0;
}

.container {
  padding-top: 0;
}

.bMarq {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.bMarqC {
  display: flex;
  gap: 16px;
}

.bMarqText {
  -webkit-animation: animMarquee 10s linear infinite;
  animation: animMarquee 10s linear infinite;
}

@-webkit-keyframes animMarquee {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes animMarquee {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
